* {
  padding: 0;
  margin: 0; }

body {
  font-family: "OpenSans", "Tahoma", sans-serif;
  font-weight: normal;
  color: #212121;
  background-color: white; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }

button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  outline: none; }

ul {
  list-style: none; }

input {
  outline: none;
  font-family: inherit; }

input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none;
  pointer-events: none;
  position: absolute;
  right: 0; }

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensansbold.woff") format("woff"), url("../fonts/opensansbold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Impact";
  src: url("../fonts/ImpactRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.container {
  margin: 0 auto;
  outline: 1px solid yellow; }

.main-nav__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.main-nav {
  width: 300px;
  margin: 3% auto 0; }

.main-nav__toggle {
  display: none; }

.main-nav__link:hover {
  animation-name: wobble-horizontal;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1; }

@keyframes wobble-horizontal {
  16.65% {
    transform: translateX(8px); }
  33.3% {
    transform: translateX(-6px); }
  49.95% {
    transform: translateX(4px); }
  66.6% {
    transform: translateX(-2px); }
  83.25% {
    transform: translateX(1px); }
  100% {
    transform: translateX(0); } }

.about {
  padding: 50px 0;
  text-align: center;
  background: #c0392b;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #8e44ad, #c0392b);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.about__text p:first-child {
  padding-bottom: 50px;
  font-size: 24px;
  font-weight: bold;
  color: white; }

.about__text p:last-child {
  width: 500px;
  padding-bottom: 50px;
  margin: 0 auto;
  line-height: 24px;
  font-size: 18px;
  color: white; }

.btn {
  display: block;
  width: 200px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: bold;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid white;
  color: white; }

.btn:hover {
  transition: all 0.3s ease;
  color: purple; }

.btn:not(:hover) {
  transition: all 0.5s ease; }

.btn:active {
  color: coral; }

.main-page {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100vh;
  position: relative; }

.page-left {
  width: 50%;
  background-image: url(../img/up-me.jpg), url(../img/down-me.jpg);
  background-position: center, center;
  background-size: auto, cover;
  background-repeat: no-repeat, no-repeat; }

.page-right {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 48px;
}

.page-right__header {
  margin-top: 30px; }

.page-right__header span {
  position: relative;
  padding: 5px 40px;
  font-family: "Impact", "Tahoma", sans-serif;
  font-size: 48px;
  border: 5px solid black;
  box-shadow: 10px 7px 7px -6px #555555;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  word-spacing: 0.5em; }

.page-right__header span::before {
  position: absolute;
  left: 0;
  top: 38px;
  content: "";
  border-bottom: 35px solid #000000;
  border-right: 35px solid transparent; }

.page-right__header span::after {
  position: absolute;
  left: -5px;
  top: 41px;
  content: "";
  border-bottom: 40px solid white;
  border-right: 40px solid transparent; }

.page-right__header p {
  margin-top: 32px;
  font-size: 18px;
  font-weight: bold; }

.page-right__header div {
  margin-top: 32px;
  font-size: 16px; }

.page-right__header div::before {
  content: "KS";
  margin-right: 5px;
  padding: 3px 5px;
  font-family: "Impact", "Tahoma", sans-serif;
  font-size: 20px;
  border: 3px solid black;
  letter-spacing: 0.1em; }

.page-right__caption {
  margin-top: 40px;
}

.page-right__about {
  text-align: left;
  margin: 20px 8% 0;
}

.page-right__list {
  margin: 20px 8% 0;
  text-align: left;
  position: relative; }

.page-right__list::before {
  content: "";
  position: absolute;
  left: -40px;
  top: -2px;
  width: 20px;
  height: 23px;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat; }

.page-right__list:hover::before {
  transform: rotate(360deg);
  transition: 0.7s; }

.page-right__list:not(:hover)::before {
  transition: 0.7s; }

.page-right__list ul {
  margin-left: 40px; }

.page-right__list li {
  position: relative;
  margin-top: 30px; }

.page-right__mai {
  line-height: 22px;
}

.page-right__about-me::before {
  content: "";
  position: absolute;
  left: -34px;
  top: 10%;
  width: 16px;
  height: 16px;
  background-color: #04b9ad;
  border-radius: 50%;
}

.page-right__mai::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 5px;
  width: 30px;
  height: 29px;
  background-image: url(../img/mai.png);
  background-repeat: no-repeat;
}

.page-right__gb::before {
  content: "";
  position: absolute;
  left: -40px;
  top: -5px;
  width: 30px;
  height: 33px;
  background-image: url(../img/gb.png);
  background-repeat: no-repeat; }

.page-right__academy::before {
  content: "";
  position: absolute;
  left: -40px;
  top: -8px;
  width: 30px;
  height: 38px;
  background-image: url(../img/academy.png);
  background-repeat: no-repeat; }

.page-right__mda::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 3px;
  width: 30px;
  height: 12px;
  background-image: url(../img/mda.png);
  background-repeat: no-repeat; }

.page-right__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px; }

.page-right__item {
  width: 300px; }

@media (min-width: 320px) and (max-width: 767px) {

  .main-nav__items {
    display: -ms-flexbox;
    display: flex; }

  .main-nav__toggle {
    display: block;
    position: absolute;
    top: 7px;
    right: 0;
    z-index: 2;
    display: block;
    width: 70px;
    height: 50px;
    font-size: 0;
    background-color: transparent;
    cursor: pointer;
    border: none; }

  .main-nav--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 19px;
    width: 20px;
    height: 2px;
    background-color: black;
    box-shadow: 0 5px 0 0 black, 0 10px 0 0 black; }

  .main-nav--opened .main-nav__toggle {
    top: 7px;
    right: 0; }

  .main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 16px;
    left: 19px;
    width: 20px;
    height: 2px;
    background-color: black; }

  .main-nav--opened .main-nav__toggle::before {
    transform: rotate(45deg);
    box-shadow: none; }

  .main-nav--opened .main-nav__toggle::after {
    transform: rotate(-45deg); }

  .main-nav--closed .main-nav__items {
    display: none; }

  .main-nav--opened .main-nav__items {
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    background-color: transparent;
    transition: all 0.4s ease; }

  .main-nav--nojs .main-nav__toggle {
    display: none; }

  .main-page {
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%; }

  .page-left {
    width: 100%;
    height: 300px;
    background-image: url(../img/up-me.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }

  .page-right {
    width: 100%; }

  .page-right__header {
    margin-top: 6%; }

  .page-right__header span {
    padding: 5px 20px;
    font-size: 20px;
    box-shadow: 10px 7px 7px -6px #555555; }

  .page-right__header span::before {
    position: absolute;
    left: 0;
    top: 19px;
    content: "";
    border-bottom: 20px solid #000000;
    border-right: 20px solid transparent; }

  .page-right__header span::after {
    position: absolute;
    left: -7px;
    top: 21px;
    content: "";
    border-bottom: 25px solid white;
    border-right: 25px solid transparent; }

  .page-right__header p {
    margin-top: 10%;
    font-size: 18px;
    font-weight: bold; }

  .page-right__header div {
    margin-top: 10%;
    font-size: 18px; }

  .page-right__header div::before {
    font-size: 18px; }

  .page-right__caption {
    margin-top: 15%; }

  .page-right__list {
    margin: 10% 5% 0 15%;
    text-align: left;
    position: relative; }

  .page-right__list ul {
    margin-left: 10%; }

  .page-right__list li {
    font-size: 14px;
    margin-top: 8%; }

  .page-right__items {
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 6%; }

  .page-right__item {
    width: 100%;
    margin-bottom: 5%; } }

@media (min-width: 320px) and (max-width: 700px) {

  .about {
    display: none; } }

@media (min-width: 768px) and (max-width: 1100px) {

  .main-nav {
    margin: 6% auto 0; }

  .page-left {
    background-image: url(../img/up-me.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }

  .page-right__header {
    margin-top: 6%; }

  .page-right__header span {
    padding: 5px 40px;
    font-size: 24px;
    letter-spacing: 0.25em;
    word-spacing: 0.5em;
    box-shadow: 10px 7px 7px -6px #555555; }

  .page-right__header span::before {
    position: absolute;
    left: 0;
    top: 24px;
    content: "";
    border-bottom: 20px solid #000000;
    border-right: 20px solid transparent; }

  .page-right__header span::after {
    position: absolute;
    left: -7px;
    top: 25px;
    content: "";
    border-bottom: 30px solid white;
    border-right: 30px solid transparent; }

  .page-right__header p {
    margin-top: 10%;
    font-size: 18px;
    font-weight: bold; }

  .page-right__header div {
    margin-top: 5%;
    font-size: 18px; }

  .page-right__header div::before {
    font-size: 18px; }

  .page-right__caption {
    margin-top: 10%; }

  .page-right__list {
    margin: 5% 5% 0 15%;
    text-align: left;
    position: relative; }

  .page-right__list ul {
    margin-left: 10%; }

  .page-right__list li {
    font-size: 14px;
    margin-top: 8%; } }
